<div class="activity">
    @foreach (ActivityEntry entry in Session.Activity)
    {
        <div class="activity-row">
            <span class="activity-type">@entry.Category</span>
            <span class="activity-detail">@entry.Detail</span>
        </div>
    }
</div>
